@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
	font-family: 'Nunito', sans-serif;
}

.fa {
	margin-right: 10px;
}

p, h1, h2, h3 {
	margin: 0;
}

.bg_body {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
}

.wrapper {
	width: 1024px;
	margin-left: 10px;
	margin-right: 10px;
}

header {
	display: flex;
	flex: 0 0 auto;
	justify-content: center;
	padding-top: 25px;
	padding-bottom: 25px;
	font-size: 20px;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0) 100%);
	background-size: cover;
	background-position: center;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav_a, .call_a{
	color: #fff;
	text-decoration: none;
	font-size: 20px;
	margin-left: 5px;
	margin-right: 5px;
	transition: 0.3s;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

.nav_a:hover, .call_a:hover {
	color: #ffa600;
}

content {
	display: flex;
	flex: 1 0 auto;
	justify-content: center;
}

.content {
	display: flex;
	flex-direction: column;
}

.content_map {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-top: 20px;
}

.content_info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 40px;
}

h1 {
	color: #fff;
	font-size: 40px;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.content_info_p {
	color: #fff;
	font-size: 20px;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.9);
}

.content_info_a {
	text-decoration: none;
	color: #fff;
	font-size: 20px;
	background-color: #ffa600;
	border-radius: 40px;
	padding-top: 5px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 5px;
	margin-top: 15px;
}

.content_info_a:hover {
	background-color: #cc8500;
}

.content_map_s {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 260px;
	height: 200px;
	background-color: #fff;
	padding: 10px;
	border-radius: 10px;
	margin: 5px;
}

.content_map_s_a {
	text-decoration: none;
	text-align: center;
	color: #000;
	font-size: 18px;
	font-weight: bold;
	border-width: 1px;
	border-style: solid;
	border-color: #ffa600;
	border-radius: 20px;
	margin-top: 10px;
	transition: 0.3s;
}

.content_map_s_a:hover {
	color: #fff;
	border-color: #ffa600;
	background-color: #ffa600;
}

.content_info_p_p {
	padding: 10px;
	background-color: #fff;
	border-radius: 10px;
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* --- Мобильное меню --- */
.a_nav_menu {
	text-decoration: none;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	margin-top: 10px;
	cursor: pointer;
}

.menu_mb_a {
	text-decoration: none;
	color: #fff;
	font-size: 17px;
	font-weight: bold;
}

.menu_mb {
	display: none;
	justify-content: center;
}

.menu-close {
	display: block;
	width: 28px;
	height: 28px;	
	background: url(https://snipp.ru/demo/449/close.png) 0 0 repeat;
	position: absolute;
	right: 20px;
	top: 20px;
	z-index: 100;
}

.menu-popup {
	display: none;	
	background: #43474d;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0;
	padding: 30px;
	z-index: 9999;	
	box-shadow: 0 14px 28px rgba(0,0,0,0.2), 0 10px 10px rgba(0,0,0,0.22);
}

.menu-popup ul {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}

.menu-popup li {
	list-style: none;
	margin: 10px 0;
	padding: 0;
}

.menu-popup li a {
	font-size: 18px;
	font-family: "Arial";
	color: rgb(255, 255, 255);
	line-height: 1.4;	
	text-decoration: none;
}

.body_pointer * {
	cursor: pointer;
}
/* --- END --- Мобильное меню --- */

@media screen and (max-width:1023px) {
	.map_s_2 {
		display: none;
	}

	header {
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.header {
		justify-content: center;
	}

	.menu_pk {
		display: none;
	}

	.menu_mb {
		display: flex;
	}

	.content {
		height: 100%;
		justify-content: center;
		align-items: center;
	}

	.content_info {
		align-items: center;
		margin: 0;
	}

	.content_info_p {
		margin-top: 10px;
		margin-bottom: 10px;
		text-align: center;
	}

	h1 {
		font-size: 25px;
	}
}